.homepage-hero {
  padding: 50px 0px;
}
.homepage-hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}
.homepage-hero-img img {
  width: 550px;
  height: 700px;
  border-radius: 10px;
}
.homepage-hero-input {
  width: 500px;
}
.homepage-hero-input h1,
.homepage-hero-input p {
  color: var(--white);
}
