.passing {
  min-height: 100vh;
}
.passing-content {
  margin: 100px 0px;
}
.passing input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--paleGray);
}
.passing button {
  width: 100%;
  margin: 15px 0px;
}
.before-line {
  width: 45%;
  border-top: 0.25px solid black;
}
.after-line {
  width: 45%;
  border-top: 0.25px solid black;
}
.section-break {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passing a {
  display: inline-block;
  width: 100%;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 20px 0px;
  padding: 20px 0px;
  border-radius: 10px;
}
.passing a:hover {
  background-color: var(--paleGray);
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 20px 0px;
  background-color: var(--paleGray);
  border-radius: 10px;
}
.auth p {
  margin-left: 10px;
}
.auth img {
  width: 20px;
  height: 20px;
}
